@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Mooli&display=swap');

:root {
    --primary-color: #01295f;
    --secondary-color: #5bc0eb;
    --accent1-color: #9bc53d;
    --accent2-color: #840032;

    --heading-font: 'Mooli', sans-serif;
    --paragraph-font: 'Poppis', sans-serif;

    --nav-background-color: #01295f;
    --nav-link-color: #5bc0eb;
    --nav-hover-link-color: #9bc53d;
    --nav-hover-background-color: #840032;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 960px;
}

header {
    padding: 1rem;
    background-color: var(--primary-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

header img {
    padding-left: 4rem;
}

main {
    font-family: var(--heading-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    padding: 25px;
}

nav {
    font-size: 1.2rem;
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    padding: 1rem;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    margin-top: 1em;
    text-align: center;
}

footer p {
    padding-top: 3rem;
}

header, .grid, footer {
    max-width: 940px;
    margin: 0 auto;
}

section img {
    display: flex;
    flex-direction: row;
    max-width: 10rem;
    justify-content: space-between;
    align-items: center; 
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid #840032;
    border-radius: 0.5rem;    
    background-color: #01295f;
    color: #9bc53d;
    position: relative;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    border: 1px solid #840032;
    padding: 0.5rem;
}

legend {
    padding: 0.25rem;
    font-size: 1.2rem;
}

label, input, button, select, textarea {
    font-family: 'Poppis', sans-serif;
}

label {
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.05rem;
    font-family: 'Poppis', sans-serif;
}

button {
    font-family: 'Poppis', sans-serif;
    background-color: var(--accent1-color);
    color: var(--nav-background-color);
    padding: .75rem;
    margin-top: .5rem;
    border: none;
    border-radius: .5rem;
    display:flex;
    margin: 0.75rem auto 0;
    font-weight: 850;
}

button:hover {
    background-color: var(--nav-hover-background-color);
}

input[type="radio"] {
    margin-left: 10px;
}

/* Classes */
.header-nav a {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}

.hero {
    position:relative;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;   
}

.hero h1 {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    text-align: center;
}

.box {
    margin: 1rem;
    background-color: var(--primary-color);
    padding-bottom: 1rem;
}

.box h2 {
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.box p {
    color: var(--secondary-color);
}

.box2 {
    margin: 1rem;
    padding-bottom: 1.5rem;
    background-color: var(--secondary-color);
}

.box2 h2 {
    text-align: center;
    padding: 1rem;
}

.box2 div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.superimpose {
	position: absolute;
    top: 45%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 840px;
    background: radial-gradient(#eee, #9bc53d);
	border: 1px solid #000;
	padding: 1rem;
	box-shadow: 0 0 30px #111;
}

.superimpose > img {
    float: right;
    height: 150px;
    padding: .1rem;
}

.superimpose > p {
    text-align: start;
    padding-block-start: 10px;
    padding-right: 250px;
}

.sociallinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.sociallinks p {
    grid-column: 1/2;
    margin: 1rem;
    justify-content: center;
    align-content: center;
}

.sociallinks nav {
    grid-column: 2/3;
    margin: 1rem;
}

.sociallinks a {
    color: var(--nav-link-color);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: auto 1fr;
    margin: 0.5rem 0;
    text-align: right;
}

.column2 {
    grid-template-columns: 2fr 3fr;
    margin: 0.5rem 0;
    text-align: right;
}

.column3 {
    align-items: center;
    text-align: left;
}

.white-text {
    color: #fff;
}