@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Mooli&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 960px;
}

body {
    font-family: 'Mooli', sans-serif;
    color: #333;
    background: #fff;
}

header {
    padding: 1rem;
    background-color: #5bc0eb;
    text-align: center;
}

h1 { 
    color: #840032;
    font-size: 2.0rem;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid #840032;
    border-radius: 0.5rem;    
    background-color: #01295f;
    color: #9bc53d;
    margin-top: 1.5rem;
    position: relative;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    border: 1px solid #840032;
    padding: 0.5rem;
}

legend {
    padding: 0.25rem;
    font-size: 1.2rem;
}

label, input, button, select, textarea {
    font-family: 'Poppis', sans-serif;
}

label {
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.05rem;
    font-family: 'Poppis', sans-serif;
}

button {
    font-family: 'Poppis', sans-serif;
    background-color: #5bc0eb;
    color: #840032;
    padding: .75rem;
    margin-top: .5rem;
    border: none;
    border-radius: .5rem;
    display:flex;
    margin: 0.75rem auto 0;
    font-weight: 850;
}

button:hover {
    background-color: #E5A4CB;
}

footer {
    margin: 1rem auto 0;
    width: 750px;
    text-align: center;
    font-size: .75rem;
    color: #777;
    border-top: 1px solid #ccc;
}

/* Classes */
.form-item {
    display: grid;
    align-items: center;
    text-align: left;
}
